* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}


/* تغيير لون الدوائر (indicators) */
.carousel-indicators [data-bs-target] {
  background-color: #0DCAF0 !important; /* تغيير لون النقاط */
}